{% extends "base.html" %}

{% block title %}Pix{%  endblock %}

{% block content %}
    

<h1>Premium Threads</h1>

<div class="product-container">

    <div class="product">
        <div class="image-container">
            <img src="image1.jpg" alt="Lexicon Luxe" class="product-image"
                data-images='["image1.jpg", "image11.jpg", "image12.jpg", "image13.jpg"]'>
        </div>
        <p class="product-title">Lexicon Luxe - Tshirt</p>
        <p class="product-price">$100.00</p>
    </div>

    <div class="product">
        <div class="image-container">
            <img src="image4.jpg" alt="Adjective Attire" class="product-image"
                data-images='["image4.jpg", "image5.jpg", "image6.jpg"]'>
        </div>
        <p class="product-title">Adjective Attire - Tshirt</p>
        <p class="product-price">$120.00</p>
    </div>

    <div class="product">
        <div class="image-container">
            <img src="image7.jpg" alt="ThreadCraft Vibes" class="product-image"
                data-images='["image7.jpg", "image8.jpg", "image9.jpg"]'>
        </div>
        <p class="product-title">ThreadCraft Vibes - Tshirt</p>
        <p class="product-price">$140.00</p>
    </div>

    <div class="product">
        <div class="image-container">
            <img src="image10.jpg" alt="Verbal Vogue Tees" class="product-image"
                data-images='["image10.jpg", "image11.jpg", "image12.jpg"]'>
        </div>
        <p class="product-title">Verbal Vogue Tees - Tshirt</p>
        <p class="product-price">$120.00</p>
    </div>

</div>
 

{% endblock %}